---
interface Props {
  title: string;
  description: string;
  subscribers: string;
  imageUrl: string;
}

const { title, description, subscribers, imageUrl } = Astro.props;
---

<div
  class="bg-white dark:bg-gray-800 rounded-lg shadow-md overflow-hidden w-full"
>
  <img src={imageUrl} alt={title} class="w-full h-32 object-cover" />
  <div class="p-4">
    <h3 class="text-lg font-semibold mb-2 dark:text-white truncate">{title}</h3>
    <p class="text-sm text-gray-600 dark:text-gray-300 mb-2 line-clamp-2">
      {description}
    </p>
    <p class="text-xs text-gray-500 dark:text-gray-400">{subscribers} views</p>
  </div>
</div>
